@import url("fonts/rawengulkbold/stylesheet.css");
@import url("fonts/rawengulkdemibold/stylesheet.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,header,footer {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: url(../images/background/body.jpg) no-repeat center bottom;
	font: 16px rawengulkbold, Helvetica, Arial, sans-serif;
}

/* background */
.header-bg {
	background: url(../images/background/header.jpg) no-repeat center top;
}
.footer-bg {
	background: url(../images/background/footer.jpg) no-repeat center top;
}

a {
	color: #3573B4;
}

a:hover {
	color: #224971;
}
/* Style header */
header, footer, nav ul, #acceuil, #push {
	width: 80%;
	margin: 0 auto;
}

header .vcard {
	float: right;
	width: 190px;
	font: normal 0.8em Verdana, Geneva, sans-serif;
	text-align: right;
	margin: 40px 0;
}
.tel {
	margin-top: 10px;
}
.email {
	text-decoration: none;
	color: #000;
}
header h1 {
	text-indent: -9999px;
	height: 160px;
	width: 180px;
	background: url(../images/logo-cda.png) no-repeat;
	display: block;
	float: left;
	margin: 20px 0;
}
nav {
	clear: both;
	height: 50px;
	background: rgb(53,115,180);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzM1NzNiNCIgc3RvcC1vcGFjaXR5PSIwLjM0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjI5JSIgc3RvcC1jb2xvcj0iIzM1NzNiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzM1NzNiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTczYjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(53,115,180,0.34) 10%, rgba(53,115,180,1) 29%, rgba(53,115,180,1) 31%, rgba(53,115,180,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(53,115,180,0.34)), color-stop(29%,rgba(53,115,180,1)), color-stop(31%,rgba(53,115,180,1)), color-stop(100%,rgba(53,115,180,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(53,115,180,0.34) 10%,rgba(53,115,180,1) 29%,rgba(53,115,180,1) 31%,rgba(53,115,180,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(53,115,180,0.34) 10%,rgba(53,115,180,1) 29%,rgba(53,115,180,1) 31%,rgba(53,115,180,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(53,115,180,0.34) 10%,rgba(53,115,180,1) 29%,rgba(53,115,180,1) 31%,rgba(53,115,180,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(53,115,180,0.34) 10%,rgba(53,115,180,1) 29%,rgba(53,115,180,1) 31%,rgba(53,115,180,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#3573b4',GradientType=0 ); /* IE6-8 */
}
nav ul li {
	float: left;
}
nav ul li a {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 20px 20px 20px 0;
	font-family: rawengulkdemibold, Helvetica, Arial, sans-serif;
	text-shadow:2px 1px 2px #00446D
}
nav ul li a:hover {
	color: #D7EAF8;
}
nav ul {
	list-style: none;
}

/* Style footer */
footer {
	height: 140px;
	clear: both;
	/* padding-left: 140px !important; */
	
	
}
footer ul {
	list-style: none;
}
footer section {
	float: left;
	margin: 10px 0;
	padding: 0 15px;
	border-left: 1px solid #C5C5C5;
	height: 110px;
	font: 500 0.8em Verdana, Geneva, sans-serif;
	line-height: 1.6em !important;
}
footer a {
	color: #000000;
}

footer a:hover {
	color: #4B4B4B;
}
#service {
	width: 190px;
}
#information {
	width: 145px;
}
#description, #raison-social {
	width: 267px;
}
#raison-social {
	border-right: 1px solid #C5C5C5;
}

/* Style page acceuil */
#acceuil {
	/* padding: 30px 40px; */
}
.carroussel {
	width: 500px;
	height: 310px;
	float: left;
	/* margin-left: 100px; */
	margin-bottom: 40px;
}
.carroussel .carousel-caption {
	position: relative;
	top: -70px;
	background: rgba(255, 255, 255, 0.9);
	left: 5px;
	height: 50px;
	padding: 7px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e6ffffff',GradientType=0 ); /* IE6-8 */
}
.carroussel img {
	border: 5px solid #FFF;
	box-shadow: 0px 2px 13px rgba(0, 121, 187, 0.7);
	-moz-box-shadow: 0px 2px 13px rgba(0, 121, 187, 0.7);
	-webkit-box-shadow: 0px 2px 13px rgba(0, 121, 187, 0.7);
}
.carousel-caption h1 {
	font-size: 1.2em;
	line-height: 1.2em;
}
.carousel-caption h1 span {
	color: #0079bb;
}
#presentation {
	padding: 0 40px 0 0;
	font-size: 1.1em;
	color: #006EAE;
	width: 450px;
	line-height: 1.5em;
	margin-left: 650px;
}
#presentation ul {
	margin-left: 30px;
	margin-top: 10px;
}

#push {
	clear: both;
	/* margin-left: 140px; */
	height: 200px;
	font-size: 0.9em;
}
#push article {
	width: 281px;
	float: left;
	margin-right: 30px;
	padding: 15px; 
	line-height: 1.4em;
	height: 120px;

	border-radius: 11px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;

	box-shadow: 0px 2px 13px rgba(0, 121, 187, 0.7);
	-moz-box-shadow: 0px 2px 13px rgba(0, 121, 187, 0.7);
	-webkit-box-shadow: 0px 2px 13px rgba(0, 121, 187, 0.7);

	background: rgb(219,237,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkYmVkZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  rgb(219,237,255) 0%, rgb(255,255,255) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(219,237,255)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbedff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}

#push h4 {
	font-size: 1.1em;
}

.risque,  .logiciel, .documentation {
	display: block;
	float: left;
	height: 100%;
	width: 95px;
	padding: 0 5px;
	/* clear: both; */
}
.risque {
	background: url(../images/picto-acceuil/tasse.png) no-repeat;
}
.logiciel {
	background: url(../images/picto-acceuil/box-cd.png) no-repeat;
}
.documentation {
	background: url(../images/picto-acceuil/doc.png) no-repeat;
}
