#content section {
	margin: 30px 0;
}
select {
	display: block;
	border: 1px solid #999;
	border-radius: 4px;
	line-height: 1.5em;
	box-shadow: 1px 1px 8px #AAA inset;
	width: 100%;
	margin: 10px 0;
}
.droite {
	/* float: right; */
	margin-left: 55%;
	padding-top: .1em;
}
.gauche {
	float: left;
	width: 50%;
}
object, #vmap {
	float: left;
	width: 47%;
	height: 510px;
}
#refClient {
	/* margin-left: 60%; */
	float: right;
	width: 45%;
	padding: 0 20px;
	border-radius: 11px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;

	box-shadow: 0px 2px 13px rgba(53, 115, 180, 0.7);
	-moz-box-shadow: 0px 2px 13px rgba(53, 115, 180, 0.7);
	-webkit-box-shadow: 0px 2px 13px rgba(53, 115, 180, 0.7);

	background: rgb(219,237,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkYmVkZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(left, ellipse cover,  rgb(219,237,255) 0%, rgb(255,255,255) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, left center, 0px, left center, 100%, color-stop(0%,rgb(219,237,255)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(left, ellipse cover,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(left, ellipse cover,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(left, ellipse cover,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* IE10+ */
	background: radial-gradient(ellipse at left,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbedff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}
#refClient h3 {
	font-size: 1.4em;
}
.dept {
	color: #286eaa;
	font-size: 1.2em;
	font-weight:bold;
}
.clientNull {
	padding:1em 2em 2em 0;
}
.nomClient {
	color: #286eaa;
}
#listClients {
	font-size: 0.9em;
	padding: 0 2em 2em 0;
}
.listClients {
	padding: 0;
}
#content ul {
	margin:0;
	padding:0;
}
#content ul li{
	list-style-type:none;
	font-size:1.2em;
	padding:0 0 .4em 0;
}
.pager {
	margin-left: 0;
	margin-bottom: 18px;
	list-style: none;
	text-align: center;
	*zoom: 1;
}
.pager:before,
.pager:after {
	display: table;
	content: "";
}
.pager:after {
	clear: both;
}
.pager li {
	display: inline;
}
.pager ul {
	padding:1em 0 0 0;
}
.pager a {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.pager a:hover {
	background-color: #E5E5E5;
}
.pager .next a {
	float: right;
}
.pager .previous a {
	float: left;
}
.pager .disabled a,
.pager .disabled a:hover {
	color: #999999;
	background-color: #fff;
	cursor: default;
} 
.pager a:hover,
.pager .active a {
	text-decoration: none;
}
.pager .active a {
	color: #999999;
	cursor: default;
	background-color: #f5f5f5;
}
