fieldset {
	display: block;
	padding: 1px;
	margin-right: 0;
	margin-bottom: 10px;
}
select {
	width: auto;
}
#form {
	padding: 30px;
	margin: 40px 0;
	border-radius: 11px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;

	box-shadow: 0px 2px 13px rgba(53, 115, 180, 0.7);
	-moz-box-shadow: 0px 2px 13px rgba(53, 115, 180, 0.7);
	-webkit-box-shadow: 0px 2px 13px rgba(53, 115, 180, 0.7);

	/* background: url(../images/background/form.jpg) no-repeat left top; */
}
form {
	/* background-color: #808080; */
	width: 90%;
	margin: 0 auto;
}
.gauche {
	/* background-color: #C0C0C0; */
	float: left;
	width: 40%;
}
.droite {
	/* background-color: #400080; */
	float: right;
	width: 40%;
	/*margin-left: 10%;
	position: relative;
	*/
}
.droite input {
	/*width: 70%;*/
}
.form-required {
	font-size: 0.8em;
	color: #AF0105;
}
form p {
	/*position: relative;*/
	margin: 20px 0 10px;
}
label {
	display: block;
	width: 110px;
	float: left;
	cursor: pointer;
}
[type="text"], textarea, select {
	display: block;
	border: 1px solid #999;
	border-radius: 4px;
	line-height: 1.5em;
	box-shadow: 1px 1px 8px #AAA inset;
	margin-left: 110px; 
}
[type="text"] {
	width: 65%;
}
#message {
	width: 85.5%;
}
[type="submit"] {
	margin-right: 1em;
}
[type="submit"], [type="reset"] {
	padding: 0 20px;
	height: 30px;
	cursor: pointer;
	/* background: #8080FF; */
	font: 16px rawengulkbold, Helvetica, Arial, sans-serif;
	font-weight: bold;
	/* box-shadow: 1px 1px 0 1px #AAA; */
	/* text-shadow: 1px 1px 0 #EEE; */
	float: right;
	margin-left: 20px;
}
.alert-box, .success-box, .tooltip {
	font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 0.875em;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.alert-box, .success-box {
	display: block;
	float: left;
}
.alert-box {
	width: 280px;
}
.gauche .tooltip, .droite .tooltip {
	width: 62.8%;
}
.tooltip {
	display: block;
	margin-left: 110px;
	padding: 2px 4px;
	line-height: 1em !important;
	width: 25%;
	/*float: left;
	 position: absolute;
	bottom: 0px;
	left: 110px; */
}
.alert-box, .tooltip {
	background-color: #E51A2E;
	border: 1px solid #970b0e;
}
.success-box {
	background-color: #5DA423;
	border: 1px solid #457a1a;
}
.correct {
	border-color: rgba(68, 191, 68, 0.75);
	color: green;
}
.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	-moz-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
	-o-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
	-ms-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}
.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
	color: #E51A2E;
}
.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	-moz-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
	-o-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
	-ms-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
@media only screen and (max-width: 800px) {
	.tooltip {
		margin-left: 0;
		width: 96%;
	}
	.gauche .tooltip {
		width: 75%;
	}
	.droite .tooltip {
		width: 91%;
	}
	[type="text"], textarea, select {
		margin-left: 0; 
	}
	[type="text"] {
		width: 80%;
	}
	#message {
		width: 98%;
	}
	label {
		float: none;
	}
	.droite p {
		padding-left: 20%;
	}
	.droite [type="text"] {
		width: 98%;
	}
}
@media only screen and (max-width: 480px) {
	[type="text"], textarea, .droite p {
		width: 100%!important;
	}
	.tooltip {
		width: 98%;
	}
	.gauche .tooltip, .droite .tooltip {
		width: 96%!important;
	}
	.gauche, .droite {
		float: none;
		width: 100%;
	}
	fieldset {
		margin: 0;
	}
	.droite p {
		padding-left: 0;
	}
	/*.droite [type="text"] {
		width: 80%;
	}*/
}

