#telechargement header {
	margin: 0;
	padding: 20px 0;
	width: 100%;
}
#telechargement header a {
	display: block;
	height: 200px;
	width: 33.3333333333%;
	position: relative;
	float: left;
}
#telechargement header a .linktext {
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -25%;
	font-size: 1.4em;
	text-align: center;
}
.listeDl a {
	display: block;
	padding-left: 25px;
	text-decoration: none;
	font-size: 1.2em;
	background: url(../images/picto/dl.png) no-repeat 0% 25%;
}
.droite {
	width: 50%;
	margin-left: 50%;
	/* float: right; */
}
.gauche {
	width: 50%;
	float: left;
}
#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .90;
	z-index: 9999;
}

.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #DDD;
	padding: 10px;
	border: 10px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
}
img.btn_close {
	float: right;
	margin: -45px -45px 0 0;
	cursor: pointer;
	width: 50px;
	height: 50px;
}
.poplight {
	text-decoration: none;
	display: block;
	width: 200px;
	padding-left: 60px;
	margin: 40px auto;
	background: url(../images/picto/evolution.png) no-repeat 0% 25%;
	color: #000;
}
#avertissement {
	margin-top: 40px; 
}
#avertissement span {
	color: #576EBF;
}
#windows, #mac, #dddd {
	margin: 30px 60px;
}
.link_windows {
	background: url(../images/picto-telechargements/windows_blur.png) no-repeat top center;
}
.link_mac {
	background: url(../images/picto-telechargements/mac_blur.png) no-repeat top center;
}
.link_dddd {
	background: url(../images/picto-telechargements/dddd_blur.png) no-repeat top center;
}
.link_windows_focus {
	background: url(../images/picto-telechargements/windows_focus.png) no-repeat top center;
}
.link_mac_focus {
	background: url(../images/picto-telechargements/mac_focus.png) no-repeat top center;
}
.link_dddd_focus {
	background: url(../images/picto-telechargements/dddd_focus.png) no-repeat top center;
}
#telechargement {
	margin: 30px 0;
	padding: 20px;
	border-radius: 11px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;

	box-shadow: 0px 2px 13px rgba(53, 115, 180, 0.7);
	-moz-box-shadow: 0px 2px 13px rgba(53, 115, 180, 0.7);
	-webkit-box-shadow: 0px 2px 13px rgba(53, 115, 180, 0.7);

	background: rgb(219,237,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkYmVkZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(left, ellipse cover,  rgb(219,237,255) 0%, rgb(255,255,255) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, left center, 0px, left center, 100%, color-stop(0%,rgb(219,237,255)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(left, ellipse cover,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(left, ellipse cover,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(left, ellipse cover,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* IE10+ */
	background: radial-gradient(ellipse at left,  rgb(219,237,255) 0%,rgb(255,255,255) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbedff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}